:root {
  --primary-color: #0b57d0;
  --light-color: #f3f6fc;
  --dark-color: #0842a0;
  --light-grey-color: #fafafa;
  --muted-color: #5f6368;
  --border-color: #dadce0;
  --outline-color: #74777e;
  --grey-hover-color: #f5f5f5;
  --text-color: #3c4043;
  --light-text-color: #70757a;
  --input-bg-color: #f1f3f4;
  --dark-text-color: #202124;
  --elevation-1: 0 2px 1px -1px rgb(0 0 0 / 0.2), 0 1px 1px 0 rgb(0 0 0 / 0.14), 0 1px 3px 0 rgb(0 0 0 / 0.12);
}